/* Variables */
/* Variables */
:root {
    --light-background-color: #FFC0CB;
    --light-primary-color: #FFFFFF;
    --light-secondary-color: #E5E5E5;
    --light-button-color: #4CAF50;
    --light-text-color: #000000;
    --dark-background-color: #FFC0CB;
    --dark-primary-color: #202020;
    --dark-secondary-color: #363636;
    --dark-button-color: #4CAF50;
    --dark-text-color: #FFFFFF;
}

/* General styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Light mode */
body.light-mode {
    --background-color: var(--light-background-color);
    --primary-color: var(--light-primary-color);
    --secondary-color: var(--light-secondary-color);
    --button-color: var(--light-button-color);
    --text-color: var(--light-text-color);
}

/* Dark mode */
body.dark-mode {
    --background-color: var(--dark-background-color);
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --button-color: var(--dark-button-color);
    --text-color: var(--dark-text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2em;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.site-title-icon img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.right-controls {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

/* Header buttons */
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 25px;
}

.header-buttons i {
    margin-right: 5px;
}


.header-button,
.theme-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: semi-bold;
    height: 40px;
    line-height: 40px;
}

.header-button img,
.theme-button img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--button-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    margin-right: 2em;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid lightgrey;
    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
}

.dropdown-menu a:hover {
    background-color: var(--secondary-color);
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.error-box {
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%;
    width: 400px;
}

.error-box img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.column {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-top: 20px;
    max-height: 80vh;
}

.queue-container,
.lives-container {
    overflow-y: auto;
    max-height: 60vh;
}

.list {
    list-style-type: none;
    padding: 5px 10px 5px 0px;
    margin: 0;
}

.clear-queue-btn,
.spin-btn,
.bulk-ban-btn,
.bulk-clear-btn {
    margin-top: 10px;
}

.bulk-ban-btn,
.bulk-clear-btn {
    margin-right: 10px;
}

.draggable {
    padding: 5px 10px;
    margin: 5px 0;
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: auto;
    min-height: 26px;
}

.username {
    flex-grow: 1;
    margin-left: 10px;
}

.adjust-lives,
.ban-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add space between the username and the remove button */
}

.highlight {
    background-color: var(--primary-color);
    font-weight: bold;
}

.highlight-checkbox {
    margin-right: 10px;
}

.toggle-view-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px; /* Decrease font size slightly */
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
}

.grid-view .draggable {
    display: inline-block;
    width: calc(100% / 4 - 10px); /* Adjust the width to fit 4 items per row */
    height: 50px; /* Decrease height for grid view items */
    margin: 5px;
    text-align: center;
    vertical-align: top;
    background-color: var(--secondary-color);
}

/* login screen style */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container .show-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 25px;
    font-size: 14px;
}

.lysspie-login-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

/* Custom scrollbar styles */
.queue-container::-webkit-scrollbar,
.lives-container::-webkit-scrollbar {
    width: 10px;
}

.queue-container::-webkit-scrollbar-track,
.lives-container::-webkit-scrollbar-track {
    background: transparent;
}

.queue-container::-webkit-scrollbar-thumb,
.lives-container::-webkit-scrollbar-thumb {
    background: var(--background-color);
    border-radius: 5px;
}

.queue-container::-webkit-scrollbar-thumb:hover,
.lives-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--primary-color);
    margin: 20vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.modal-buttons {
    width: 100%;
}

.modal-buttons button{
    width: auto;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.settings-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.settings-menu {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 7.5px;
    flex: 1;
    min-width: 150px;
}

.settings-content {
    flex: 3; /* Take more space than the menu */
    padding: 10px;
}

.settings-menu a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.settings-menu a:hover {
    background-color: var(--secondary-color);
}

.color-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.color-selection .color-section {
    flex: 1;
    min-width: 300px;
}

.color-selection input {
    margin-bottom: 5px;
}

.color-selection-button {
    display: flex;
    justify-content: center;
}

.color-selection-button button {
    margin-top: 25px;
    width: auto;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

/* Profile Modal */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

.profile-details input[type="text"],
.profile-details input[type="password"] {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.profile-details button {
    width: auto;
    padding: 10px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-details button:hover {
    background-color: #45a049;
}

/* General settings section */
#general-settings {
    display: block;
}

#general-settings h4 {
    margin-top: 20px;
}

/* Settings sections */
.settings-section {
    display: none;
}

/* Media Queries for mobile handling */
@media (max-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 10px 1em;
    }

    .right-controls {
        padding-right: 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 0 1em;
    }

    .header-button {
        display: none;
    }

    .column {
        width: 80%;
        margin-bottom: 20px;
    }

    .login-container,
    .modal-content {
        width: 80%;
    }
}