<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <div class="lysspie-login-logo">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Lysspie">
            </div>
            <input type="text" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Password">
            <div class="show-password-container">
                <input type="checkbox" id="show-password" onclick="togglePassword()"> Show Password
            </div>
            <button onclick="login()">Login</button>
            <p id="error-message" style="color: red;"></p>
        </div>
    </div>

    <script>
        function togglePassword() {
            const passwordField = document.getElementById('password');
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        }

        function login() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            })
            .then(response => {
                if (response.status === 200) {
                    return response.json();
                } else {
                    throw new Error('Login failed');
                }
            })
            .then(data => {
                localStorage.setItem('token', data.access_token);
                localStorage.setItem('api_key', data.api_key);  // Store the API key
                window.location.href = '/dashboard';
            })
            .catch(error => {
                console.error(error);
                alert('Login failed');
            });
        }

        // Submit login on Enter key press
        document.getElementById('email').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                login();
            }
        });
        document.getElementById('password').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                login();
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            const preferredTheme = localStorage.getItem('preferredTheme') || 'light';
            console.log(` Login loaded ${preferredTheme}`)
            changeTheme(preferredTheme);
        });

        function changeTheme(theme) {
            const body = document.body;
            if (theme === 'dark') {
                body.classList.add('dark-mode');
                document.querySelectorAll('.login-container').forEach(item => item.classList.add('dark-mode'));
            } else {
                body.classList.remove('dark-mode');
                document.querySelectorAll('.login-container').forEach(item => item.classList.remove('dark-mode'));
            }
        }
    </script>
</body>
</html>
