<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="login-wrapper">
        <div class="login-container">
            <div class="lysspie-login-logo">
                <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Lysspie">
            </div>
            <input type="text" id="username" placeholder="Username">
            <input type="password" id="password" placeholder="Password">
            <div class="show-password-container">
                <input type="checkbox" id="show-password" onclick="togglePassword()"> Show Password
            </div>
            <button onclick="login()">Login</button>
            <p id="error-message" style="color: red;"></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
